@model e_corp.Models.CoachesView
@using e_corp.Areas.Identity.Data

@{
    ViewData["Title"] = "Coaches";
}   

<div class="text-center">
    <h1 class="display-4 fw-bold fs-200">@ViewData["Title"]</h1>
</div>


<div style=" display: flex; flex-wrap: wrap; gap: 20px; margin: auto">

    <!-- Show all coaches  -->
    @foreach (var coach in Model.CoachProfiles!)
    {
        <div class="card" style="width: 18rem; ">
            <img src="@coach.ImageUrl" class="card-img-top" alt="...">
            <div class="card-body" style="text-align: center">
                <h5 class="card-title">@coach.Name</h5>
                <a class="btn btn-primary" style="margin: auto" asp-action="Coach" asp-route-id="@coach.CoachID">View Profile</a>
            </div>
        </div>
    }
</div>



