@model e_corp.Models.UsersWithoutRolesListViewModel

@{
    ViewData["Title"] = "All Members";
}

<div class="text-center">
    <h1 class="display-4 fw-bold fs-200">@ViewData["Title"]</h1>
</div>
<table class="table w-auto align-content-center">
    <thead class="table-dark">
        <tr>
            <th>User ID</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.UsersWithoutRoles)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Email</td>
            </tr>
        }
    </tbody>
</table>
