@model e_corp.Models.UsersWithoutRolesListViewModel

@{
    ViewData["Title"] = "All Members";
}

<div class="text-center">
    <h1 class="display-4 fw-bold fs-200">@ViewData["Title"]</h1>
</div>
<div style="display: flex; flex-wrap: wrap; justify-content: center;">
    <div class="bg-light " style="display: flex; flex-wrap: wrap; justify-content: center; border-radius: 20px; margin-bottom: 50px; width: 800px">
        <table class="table w-auto" style="margin-top: 50px">
            <thead class="table-dark">
                <tr>
                    <th>User ID</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.UsersWithoutRoles)
                {
                    <tr>
                        <td>@user.Id</td>
                        <td>@user.Email</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
